<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />
  </configSections>
  <StructureMap MementoStyle="Attribute">
    <DefaultInstance PluginType="Mana.Cards.API.Providers.ISaleProvider, Mana.Cards.API" PluggedType="LTBSaleProvider.SaleProvider, LTBSaleProvider" />
  </StructureMap>
  <appSettings>
    <!--General API Config-->
    <add key="APIUrl" value="https://app.mana.cards/api/v1" />
    <add key="CitiesSearchURL" value="https://app.mana.cards/cities/search?term=" />
    <add key="CardsEndpoint" value="/cards" />
    <add key="SalesEndpoint" value="/sales" />
    <add key="ClientsEndpoint" value="/clients" />
    <add key="ClientsCardResolveEndpoint" value="/cards/resolve"/>
    <add key="ClientsSearchEndpoint" value="/clients/search" />
    <add key="OfflineAPI.StorageFolder" value="C:\\mana.cards.temp" />
    <!--Partner Pos Api Key-->
    <add key="ManaAuthID" value="YOUR_AUTH_ID_HERE" />
    <add key="ManaAPIKey" value="YOUR_API_KEY_HERE" />

    <!--Printing coupons-->
    <add key="PrintCuponGDI" value="true" />
    <add key="OpenCouponFile" value="true" />
    <add key="CouponsPath" value="C:\\mana.cards.coupons" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=YOUR_SERVER_NAME;Initial Catalog=YOUR_DB;User Id=YOUR_USER_ID;Password=YOUR_PWD;" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>
